@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
h3{
    font-family:Quicksand;
}
.alert{
  width:50%;
  margin:20px auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding:30px;
  position:relative;
  border-radius:5px;
  box-shadow:0 0 15px 5px rgb(209, 101, 101);
  background-color: #f3efef;
}